.h3{
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: left;
   text-decoration: underline;
   text-transform: capitalize; 
   color: rgb(248, 245, 245);
}
body{
    background-color: rgb(108, 14, 14);
    
}
a{
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}